/* NAV */
/* TODA LA BARRA */
.lan-nav {
    gap: 300px;
    height: 50px;
    display: grid;
    color: white;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(0, 0, 0, 0.4);
}

/* LOGO HENRY */
.lan-logo {
    display: flex;
    margin-left: 30px;
    align-items: center;
}

/* BOTONES DE NAVEGACIÓN */
.lan-nav-buttons {
    text-align: right;
    margin-right: 30px;
}

.lan-nav-buttons button {
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #0652DD;
    margin-right: 10px;
}

.lan-nav-buttons button:hover {
    background-color: #1B1464;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.lan-nav-buttons:focus {
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
}

.lan-div {
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
}

.lan-img {
    width: 550px;
    height: 300px;
}
.title{
    margin-top: 0px;
    font-size: 40px;
}

.front{
 text-align-last: center;
 font-size: 20px;
}