.det-logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.det-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    height: 50px;
}

.type{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;   
}
.informations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: block;
    padding: 10px;
    height: 70%;
    width: 70%;
    margin: auto;
}

.sup{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: inherit;
    justify-items: center;
    text-transform: capitalize;
}

.inf{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: block;
}

det-buttons:focus{
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
}

.det-buttons:hover {
    background-color: #1B1464;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.det-buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
    grid-gap: 20px;
    gap: 20px;
    justify-content: flex-end;
    color: white;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #0652DD;
}
.img{
    width: 250px;
    height: 200px;
}